* {
  border: none;
  border-radius: 6px;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 16px;
  min-height: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
}

window#waybar {
  background: transparent;
}

#window {
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

#workspaces {
  margin-top: 5px;
  margin-left: 2px;
  font-size: 4px;
  background: #161320;
  transition: none;
}

#workspaces button {
  transition: none;
  margin-right: 0px;
  color: #FFFFFF;
  background: transparent;
  font-size: 16px;
}

#workspaces button.occupied {
  transition: none;
  color: #F28FAD;
  background: transparent;
  font-size: 4px;
}

#workspaces button.active {
  /* background: transparent; */
  color: #ABE9B3;
  /* border-top: 2px solid #ABE9B3; */
  /* border-bottom: 2px solid #ABE9B3; */
  /* border-radius: 5px; */
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #FAE3B0;
  border-color: #E8A2AF;
  color: #E8A2AF;
}

#workspaces button.active:hover {
  color: #E8A2AF;
}

#tags {
  margin-top: 5px;
  margin-left: 2px;
  font-size: 4px;
  background: #161320;
  transition: none;
}

#tags button {
  transition: none;
  margin-right: 0px;
  color: #FFFFFF;
  background: transparent;
  font-size: 16px;
}

#tags button.occupied {
  transition: none;
  color: #F28FAD;
  background: transparent;
  font-size: 4px;
}

#tags button.active {
  /* background: transparent; */
  color: #ABE9B3;
  /* border-top: 2px solid #ABE9B3; */
  /* border-bottom: 2px solid #ABE9B3; */
  /* border-radius: 5px; */
}

#tags button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #ABE9B3;
  border-color: #E8A2AF;
  color: #E8A2AF;
}

#tags button.active:hover {
  color: #ABE9B3;
}

#wireplumber {
  margin-right: 6px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  transition: none;
  color: #1A1826;
  background: #e0af68;
}

#disk {
  margin-right: 6px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  transition: none;
  color: #1A1826;
  background: #7aa2f7;
}

#custom-wlogout {
  margin-right: 5px;
  margin-top: 5px;
  padding-left: 6px;
  padding-right: 10px;
  margin-bottom: 0px;
  transition: none;
  color: #1A1826;
  background: #db4b4b;
}

#clock {
  margin-right: 6px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  transition: none;
  color: #161320;
  background: #ABE9B3;
}

#memory {
  margin-right: 6px;
  margin-left: 6px;
  margin-top: 5px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  transition: none;
  color: #161320;
  background: #DDB6F2;
}

#cpu {
  margin-left: 6px;
  margin-top: 5px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  transition: none;
  color: #161320;
  background: #ff9e64;
}

#backlight {
  margin-left: 6px;
  margin-top: 5px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  transition: none;
  color: #161320;
  background: #914c54;
  /*  background:   bg = "#24283b",*/
  /*  bg_dark = "#1f2335",*/
  /*  bg_highlight = "#292e42",*/
  /*  blue = "#7aa2f7",*/
  /*  blue0 = "#3d59a1",*/
  /*  blue1 = "#2ac3de",*/
  /*  blue2 = "#0db9d7",*/
  /*  blue5 = "#89ddff",*/
  /*  blue6 = "#b4f9f8",*/
  /*  blue7 = "#394b70",*/
  /*  comment = "#565f89",*/
  /*  cyan = "#7dcfff",*/
  /*  dark3 = "#545c7e",*/
  /*  dark5 = "#737aa2",*/
  /*  fg = "#c0caf5",*/
  /*  fg_dark = "#a9b1d6",*/
  /*  fg_gutter = "#3b4261",*/
  /*  green = "#9ece6a",*/
  /*  green1 = "#73daca",*/
  /*  green2 = "#41a6b5",*/
  /*  magenta = "#bb9af7",*/
  /*  magenta2 = "#ff007c",*/
  /*  orange = "#ff9e64",*/
  /*  purple = "#9d7cd8",*/
  /*  red = "#f7768e",*/
  /*  red1 = "#db4b4b",*/
  /*  teal = "#1abc9c",*/
  /*  terminal_black = "#414868",*/
  /*  yellow = "#e0af68",*/
  /*  git = {*/
  /*    add = "#449dab",*/
  /*    change = "#6183bb",*/
  /*    delete = "#914c54",*/
  /*  },*/
  /*}*/
}


#battery {
  margin-right: 6px;
  margin-top: 5px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  transition: none;
  color: #161320;
  background: #24283b;
}

#tray {
  margin-top: 5px;
  margin-right: 6px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  transition: none;
  color: #B5E8E0;
  background: #161320;
}

#custom-spotify {
  margin-top: 5px;
  margin-right: 6px;
  padding-left: 6px;
  padding-right: 10px;
  margin-bottom: 0px;
  transition: none;
  color: #161320;
  background: #7dcfff;
}

#network {
  margin-top: 5px;
  margin-right: 6px;
  padding-left: 6px;
  padding-right: 10px;
  margin-bottom: 0px;
  transition: none;
  color: #161320;
  background: #1abc9c;
}
